<li>    
    {{#if productPhotoUrl}}
        <img src=" {{productPhotoUrl}} " alt="{{ name }}">
    {{/if}}
    <div>
        <strong>Product Name: {{name}}</strong>
        <p>{{shortDescription}}</p>
    </div>
</li>