<h1>Confirmation Page</h1>

<h5> {{token}} </h5>

<select require name="role" id="">
  <option value="">Select your role</option>
  <option value="client">Client</option>
  <option value="owner">Owner</option>
  <option value="supplier">Supplier</option>
</select>