{{#if confirmedUser}}
<form action="" method="POST">
  {{!-- <select require name="role" id="">
    <option value="">Select your role</option>
    <option value="client">Client</option>
    <option value="owner">Owner</option>
    <option value="supplier">Supplier</option>
  </select> --}}

  {{!-- Basic Radio submit
  <input type="radio" value="client" name="role" id="client-input">
  <label for="client-input">Client</label>

  <input type="radio" value="owner" name="role" id="owner-input">
  <label for="owner-input">Owner</label>

  <input type="radio" value="supplier" name="role" id="supplier-input">
  <label for="supplier-input">Supplier</label>
--}}



  <div class="container">

    <h1 id="welcome-text">There are multiple ways to join the supplii community, {{ user.name }}</h1>

    <div class="card text-center" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Client</h4>
        <p class="card-text">I wanna find all the best shops connected to supplii.</p>
        <label class="btn btn-secondary">
          <input type="radio" value="client" name="role" autocomplete="off" id="client-input">
        </label>
      </div>
    </div>

    <div class="card text-center" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Owner</h4>
        <p class="card-text">I wanna connect my business to the supplii network.</p>
        <label class="btn btn-secondary">
          <input type="radio" value="owner" name="role" autocomplete="off" id="owner-input">
        </label>
      </div>
    </div>

    <div class="card text-center" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Supplier</h4>
        <p class="card-text">I can provide supplies to the shop owners.</p>
        <label class="btn btn-secondary">
          <input type="radio" value="supplier" name="role" autocomplete="off" id="supplier-input">
        </label>
      </div>
    </div>
    <div class="col text-center">
      <button class="btn btn-info">Submit role</button>
    </div>
</form>

{{else}}
<div class="card" id="welcome page">
  <div class="card-body">
    <h4 class="card-title">Hello, {{ user.name }}</h4>
    <p class="card-text">You're almost there! Now you just need to confirm your e-mail to access supplii!</p>
  </div>
</div>
{{/if}}