<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0 text-center">Add your product</h3>
    </div>
    <div class="card-body">
        <form action="" method="POST" class="form" role="form" enctype="multipart/form-data">

            <div class="form-group">
                <label for="input-picture">Product's picture</label>
                <input type="file" name="picture" id="product-picture">
            </div>

            <div class="form-group">
                <label for="input-name">Product's name</label>
                <input require type="text" name="productName" id="input-name">
            </div>

            <div class="form-group">
                <label for="category"> What's your product? </label>
                <br>
                <select require name="category" id="productCategory">
                    <option value="type1">Cake</option>
                    <option value="type2">Toast</option>
                    <option value="type3">Coffee</option>
                    <option value="type4">Juice</option>
                    <option value="type5">Omelette</option>
                </select>
            </div>

            <div class="form-group">
                <label for="input-short-description">Product's short description</label>
                <input require type="text" name="shortDescription" id="input-short-description"
                    placeholder="Describe your product">
            </div>


            <div class="form-group">
                <label for="input-long-description">Product's long description</label>
                <textarea name="longDescription" id="long-description" placeholder="Describe your product"></textarea>
            </div>

            <div class="form-group">
                <label for="product-quantity">Product's quantity</label>
                <input require type="number" name="productQuantity" id="product-quantity">
            </div>

            <div class="form-group">
                <label for="product-price">Product's price</label>
                <input require type="number" name="productPrice" id="product-price">
            </div>

            <div class="form-group">
                <label for="supply-trigger">Supply Trigger</label>
                <input require type="number" name="supplyTrigger" id="supply-trigger">
            </div>
            <button class="btn btn-success float-right">Create!</button>
        </form