<h1> Add your product </h1>

<form action="create" method="POST" enctype="multipart/form-data">

    <label for="input-picture">Product's picture</label>
    <input type="file" name="productPhotoUrl" id="product-picture">
    <br>

    <label for="input-name">Product's name</label>
    <input type="text" name="productName" id="input-name">
    <br>

    <label for="category">Product's category </label>
    <select require name="category" id="productCategory">
        <option value="type1">Type 1</option>
        <option value="type2">Type 2</option>
        <option value="type3">Type 3</option>
        <option value="type4">Type 4</option>
        <option value="type5">Type 5</option>
    </select>
    <br>

    <label for="input-short-description">Product's short description</label>
    <input type="text" name="shortDescription" id="input-short-description" placeholder="Describe your product">
    <br>

    <label for="input-long-description">Product's long description</label>
    <textarea name="longDescription" id="long-description" placeholder="Describe your product"></textarea>
    <br>

    <label for="product-quantity">Quantity</label>
    <input type="number" name="productQuantity" id="product-quantity">
    <br>

    <label for="product-price">Product's price</label>
    <input type="number" name="productPrice" id="product-price">
    <br>

    <label for="supply-trigger">Supply Trigger</label>
    <input type="number" name="supplyTrigger" id="supply-trigger">



</form>