<h1> Product's list </h1>
   
<ul>
  {{#each products}}
    {{#if ../user}}
      <a href="/user/{{../user._id}}/product/{{ _id }}">
        {{> product_item }}
      </a>
    {{else}}
      {{> product_item }}
    {{/if}}
  {{/each}}
</ul>