.landing-page {
  background-image: url('../images/landing-page.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.center {
  color: wheat;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px;
}

.sub {
  color: wheat;
  font-size: 30px;
}
​ .navbar {
  font-size: large;
  color: black;
}
